@charset "UTF-8";
/* CSS Document */

article, aside, details, dl, figcaption, figure, footer, header, main, nav, section {
	display: block;
}

/* Default colors, margins and sizing*/

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}

/* Formatting for Hypertext links, if any*/

a {
	color: #00e;
}
a:visited {
	color: #551a8b;
}
a:hover {
	color: #06e;
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}

/*end Hypertext formatting*/

/*Font Styling Begins*/

ul, ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}



